interactions:
- request:
    body: null
    headers:
      X-Asana-Client-Lib:
      - language=Python&version=0.10.3&language_version=3.8.12&os=Linux&os_version=5.14.8-zen1-1-zen
    method: GET
    uri: https://app.asana.com/api/1.0/tasks/1201046407912294
  response:
    body:
      string: "{\"data\":{\"gid\":\"1201046407912294\",\"assignee\":{\"gid\":\"1200279241225750\",\"name\":\"Daniel
        Moreno\",\"resource_type\":\"user\"},\"assignee_status\":\"inbox\",\"assignee_section\":{\"gid\":\"1200279241287822\",\"name\":\"Ideas\",\"resource_type\":\"section\"},\"completed\":false,\"completed_at\":null,\"created_at\":\"2021-09-23T12:09:43.962Z\",\"custom_fields\":[{\"gid\":\"1200760323623705\",\"enabled\":true,\"enum_options\":[{\"gid\":\"1200760323624685\",\"color\":\"red\",\"enabled\":true,\"name\":\"For
        Yesterday\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200760323624695\",\"color\":\"orange\",\"enabled\":true,\"name\":\"Timebomb\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200760323630880\",\"color\":\"yellow-orange\",\"enabled\":true,\"name\":\"Tessera\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200760323631982\",\"color\":\"yellow\",\"enabled\":true,\"name\":\"Philosophical\",\"resource_type\":\"enum_option\"}],\"enum_value\":{\"gid\":\"1200760323630880\",\"color\":\"yellow-orange\",\"enabled\":true,\"name\":\"Tessera\",\"resource_type\":\"enum_option\"},\"name\":\"Class
        of Service\",\"created_by\":{\"gid\":\"1200279241225750\",\"name\":\"Daniel
        Moreno\",\"resource_type\":\"user\"},\"display_value\":\"Tessera\",\"resource_subtype\":\"enum\",\"resource_type\":\"custom_field\",\"type\":\"enum\"},{\"gid\":\"1200200605652836\",\"enabled\":true,\"enum_options\":[{\"gid\":\"1200200605652837\",\"color\":\"blue\",\"enabled\":true,\"name\":\"Not
        Started\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200200605652838\",\"color\":\"cool-gray\",\"enabled\":true,\"name\":\"In
        Progress\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200200605652839\",\"color\":\"yellow\",\"enabled\":true,\"name\":\"Waiting\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200200605652840\[...]
