interactions:
- request:
    body: null
    headers:
      X-Asana-Client-Lib:
      - language=Python&version=0.10.3&language_version=3.8.11&os=Linux&os_version=5.13.5-zen1-1-zen
    method: GET
    uri: https://app.asana.com/api/1.0/webhooks?limit=50&workspace=1199978051314275
  response:
    body:
      string: '{"data":[{"gid":"1200890863508545","active":true,"resource":{"gid":"1199978051314275","name":"tesselo.com","resource_type":"workspace"},"resource_type":"webhook","target":"https://integrations-staging.tesselo.com/asana/projects"}],"next_page":null}'
    headers:
      Asana-Change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      Content-Type:
      - application/json; charset=UTF-8
      Datacenter-Time-End:
      - '1630418594.153'
      X-Asana-Api-Version:
      - '1.1'
      X-LoadBalancer:
      - prod-lb013.ec2
    status:
      code: 200
      message: OK
version: 1
