interactions:
- request:
    body: '{"data": {"resource": "1200150717156531", "target": "https://integrations-staging.tesselo.com/asana/projects/1200150717156531",
      "filters": [{"resource_type": "task"}]}}'
    headers:
      X-Asana-Client-Lib:
      - language=Python&version=0.10.3&language_version=3.8.11&os=Linux&os_version=5.13.5-zen1-1-zen
      content-type:
      - application/json
    method: POST
    uri: https://app.asana.com/api/1.0/webhooks
  response:
    body:
      string: '{"data":{"gid":"1200907298738341","resource_type":"webhook","resource":{"gid":"1200150717156531","resource_type":"project","name":"Frontend
        Workflow"},"target":"https://integrations-staging.tesselo.com/asana/projects/1200150717156531","active":true,"created_at":"2021-09-02T12:54:45.167Z","last_failure_at":null,"last_failure_content":"","last_success_at":"2021-09-02T12:54:46.031Z","filters":[{"resource_type":"task","resource_subtype":null,"action":null,"fields":null}]}}'
    headers:
      Asana-Change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      Content-Type:
      - application/json; charset=UTF-8
      Datacenter-Time-End:
      - '1630587286.347'
      Location:
      - /api/1.0/webhooks/1200907298738341
      X-Asana-Api-Version:
      - '1.0'
      X-LoadBalancer:
      - prod-lb003.ec2
    status:
      code: 201
      message: Created
version: 1
