interactions:
- request:
    body: null
    headers:
      X-Asana-Client-Lib:
      - language=Python&version=0.10.3&language_version=3.8.11&os=Linux&os_version=5.13.5-zen1-1-zen
    method: GET
    uri: https://app.asana.com/api/1.0/projects?limit=50&workspace=1199978051314275
  response:
    body:
      string: '{"data":[{"gid":"1199978109451180","name":"P - E-REDES","resource_type":"project"},{"gid":"1199981566421930","name":"P
        - CELPA","resource_type":"project"},{"gid":"1200041979613506","name":"P -
        Portucel MZ","resource_type":"project"},{"gid":"1200473910322376","name":"P
        - Green Himalayas","resource_type":"project"},{"gid":"1200215485992217","name":"P
        - rePLANT","resource_type":"project"},{"gid":"1200041979613509","name":"P
        - ESB","resource_type":"project"},{"gid":"1200078739257479","name":"P - Livelihood","resource_type":"projec[...]
