interactions:
- request:
    body: null
    headers:
      X-Asana-Client-Lib:
      - language=Python&version=0.10.3&language_version=3.8.12&os=Linux&os_version=5.14.8-zen1-1-zen
    method: GET
    uri: https://app.asana.com/api/1.0/projects/1200802773613549
  response:
    body:
      string: "{\"data\":{\"gid\":\"1200802773613549\",\"archived\":false,\"color\":\"none\",\"created_at\":\"2021-08-17T14:24:49.220Z\",\"current_status\":null,\"custom_fields\":[],\"custom_field_settings\":[{\"gid\":\"1200802782304815\",\"custom_field\":{\"gid\":\"1200760323623705\",\"enum_options\":[{\"gid\":\"1200760323624685\",\"color\":\"red\",\"enabled\":true,\"name\":\"For
        Yesterday\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200760323624695\",\"color\":\"orange\",\"enabled\":true,\"name\":\"Timebomb\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200760323630880\",\"color\":\"yellow-orange\",\"enabled\":true,\"name\":\"Tessera\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200760323631982\",\"color\":\"yellow\",\"enabled\":true,\"name\":\"Philosophical\",\"resource_type\":\"enum_option\"}],\"name\":\"Class
        of Service\",\"resource_subtype\":\"enum\",\"resource_type\":\"custom_field\",\"type\":\"enum\"},\"is_important\":true,\"parent\":{\"gid\":\"1200802773613549\",\"name\":\"Platform
        Workflow\",\"resource_type\":\"project\"},\"project\":{\"gid\":\"1200802773613549\",\"name\":\"Platform
        Workflow\",\"resource_type\":\"project\"},\"resource_type\":\"custom_field_setting\"},{\"gid\":\"1200802782306817\",\"custom_field\":{\"gid\":\"1200200605652836\",\"enum_options\":[{\"gid\":\"1200200605652837\",\"color\":\"blue\",\"enabled\":true,\"name\":\"Not
        Started\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200200605652838\",\"color\":\"cool-gray\",\"enabled\":true,\"name\":\"In
        Progress\",\"resource_type\":\"enu[...]
