interactions:
- request:
    body: null
    headers:
      X-Asana-Client-Lib:
      - language=Python&version=0.10.3&language_version=3.8.12&os=Linux&os_version=5.14.8-zen1-1-zen
    method: GET
    uri: https://app.asana.com/api/1.0/projects?limit=50&workspace=1199978051314275
  response:
    body:
      string: '{"data":[{"gid":"1199978109451180","name":"P - E-REDES","resource_type":"project"},{"gid":"1199981566421930","name":"P
        - CELPA","resource_type":"project"},{"gid":"1200041979613506","name":"P -
        Portucel MZ","resource_type":"project"},{"gid":"1200473910322376","name":"P
        - Green Himalayas","resource_type":"project"},{"gid":"1201005673423936","name":"P
        - UNDP STM","resource_type":"project"},{"gid":"1200215485992217","name":"P
        - rePLANT","resource_type":"project"},{"gid":"1200041979613509","name":"P
        - ESB","resource_type":"[...]
- request:
    body: null
    headers:
      X-Asana-Client-Lib:
      - language=Python&version=0.10.3&language_version=3.8.12&os=Linux&os_version=5.14.8-zen1-1-zen
    method: GET
    uri: https://app.asana.com/api/1.0/projects/1199978109451180
  response:
    body:
      string: "{\"data\":{\"gid\":\"1199978109451180\",\"archived\":false,\"color\":\"dark-teal\",\"created_at\":\"2021-02-24T00:37:12.104Z\",\"current_status\":null,\"custom_fields\":[{\"gid\":\"1200041979613491\",\"enabled\":true,\"enum_options\":[{\"gid\":\"1200041979613492\",\"color\":\"red\",\"enabled\":true,\"name\":\"High\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200041979613493\",\"color\":\"orange\",\"enabled\":true,\"name\":\"Medium\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200041979613494\",\"color\":\"green\",\"enabled\":true,\"name\":\"Low\",\"resource_type\":\"enum_option\"}],\"enum_value\":null,\"name\":\"Priority\",\"created_by\":null,\"display_value\":null,\"resource_subtype\":\"enum\",\"resource_type\":\"custom_field\",\"type\":\"enum\"}],\"custom_field_settings\":[{\"gid\":\"1200446105155811\",\"custom_field\":{\"gid\":\"1200200605652836\",\"enum_options\":[{\"gid\":\"1200200605652837\",\"color\":\"blue\",\"enabled\":true,\"name\":\"Not
        Started\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200200605652838\",\"color\":\"cool-gray\",\"enabled\":true,\"name\":\"In
        Progress\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200200605652839\",\"color\":\"yellow\",\"enabled\":true,\"name\":\"Waiting\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200200605652840\",\"color\":\"orange\",\"enabled\":true,\"name\":\"Deferred\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200200605652841\",\"color\":\"blue-green\",\"enabled\":true,\"name\":\"Done\",\"resource_type\":\"enum_option\"}],\"name\":\"Task
        Progress\",\"resource_subtype\":\"enum\",\"resource_type\":\"custom_field\",\"type\":\"enum\"},\"is_important\":true,\"parent\":{\"gid\":\"1199978109451180\",\"name\":\"P
        - E-REDES\",\"resource_type\":\"project\"},\"project\":{\"gid\":\"1199978109451180\",\"name\":\"P
        - E-REDES\",\"resource_type\":\"project\"},\"resource_type\":\"custom_field_setting\"},{\"gid\":\"1200433244288170\",\"custom_field\":{\"gid\":\"1200433244288166\",\"enum_options\":[{\"gid\":\"1200433244288167\",\"color\":\"green\",\"enabled\":true,\"name\":\"Land
        classification\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200433244288168\",\"color\":\"indigo\",\"enabled\":true,\"name\":\"Vegetation
        Height & Growth\",\"resource_type\":\"enum_option\"},{\"gid\":\"1200433244288169\",\"color\":\"cool-gray\",\"enabled\":true,\"name\":\"Vegetation
        Condition\",\"resource_type\":\"enum_option\"}],\"name\":\"Scope\",\"resource_subtype\":\"enum\",\"resource_type\":\"custom_field\",\"type\":\"enum\"},\"is_important\":false,\"parent\":{\"gid\":\"1199978109451180\",\"name\":\"P
        - E-REDES\",\"resource_type\":\"project\"},\"project\":{\"gid\":\"1199978109451180\",\"name\":\"P
        - E-REDES\",\"resource_type\":\"project\"},\"resource_type\":\"custom_field_setting\"},{\"gid\":\"1200151620958910\",\"custom_field\":{\"gid\":\"1200161025680064\",\"name\":\"Expected
        Hours\",\"precision\":2,\"resource_subtype\":\"number\",\"resource_type\":\"custom_field\",\"type\":\"number\"},\"is_important\":true,\"parent\":{\"gid\":\"1199978109451180\",\"name\":\"P
        - E-REDES\",\"resource_type\":\"project\"},\"project\":{\"gid\":\"1199978109451180\",\"name\":\"P
        - E-REDES\",\"resource_type\":\"project\"},\"resource_type\":\"custom_field_setting\"},{\"gid\":\"1199978109451189\",\"custom_field\":{\"gid\":\"1199978109451185\",\"enum_options\":[{\"gid\":\"1199978109451186\",\"color\":\"aqua\",\"enabled\":true,\"name\":\"Low\",\"resource_type\":\"enum_option\"},{\"gid\":\"1199978109451187\",\"color\":\"yellow-orange\",\"enabled\":true,\"name\":\"Medium\",\"resource_type\":\"enum_option\"},{\"gid\":\"1199978109451188\",\"color\":\"purple\",\"enabled\":true,\"name\":\"High\",\"resource_type\":\"enum_option\"}],\"name\":\"Priority\",\"resource_subtype\":\"enum\",\"resource_type\":\"custom_field\",\"type\":\"enum\"},\"is_important\":true,\"parent\":{\"gid\":\"1199978109451180\",\"name\":\"P
        - E-REDES\",\"resource_type\":\"project\"},\"project\":{\"gid\":\"1199978109451180\",\"name\":\"P
        - E-REDES\",\"resource_type\":\"project\"},\"resource_type\":\"custom_field_setting\"}],\"default_view\":\"list\",\"due_on\":\"2021-05-07\",\"due_date\":\"2021-05-07\",\"followers\":[{\"gid\":\"1199978050903275\",\"name\":\"Remi
        Charpentier\",\"resource_type\":\"user\"},{\"gid\":\"1199978056837378\",\"name\":\"Daniel
        Wiesmann\",\"resource_type\":\"user\"},{\"gid\":\"1199978056874975\",\"name\":\"Joao
        Pedro Santos\",\"resource_type\":\"user\"},{\"gid\":\"1200341425113336\",\"name\":\"Francisco
        Corr\xEAa\",\"resource_type\":\"user\"}],\"is_template\":false,\"members\":[{\"gid\":\"1199978050903275\",\"name\":\"Remi
        Charpentier\",\"resource_type\":\"user\"},{\"gid\":\"1199978056837378\",\"name\":\"Daniel
        Wiesmann\",\"resource_type\":\"user\"},{\"gid\":\"1199978056874975\",\"name\":\"Joao
        Pedro Santos\",\"resource_type\":\"user\"},{\"gid\":\"1200341425113336\",\"name\":\"Francisco
        Corr\xEAa\",\"resource_type\":\"user\"}],\"modified_at\":\"2021-09-28T17:04:16.970Z\",\"name\":\"P
        - E-REDES\",\"notes\":\"\",\"owner\":{\"gid\":\"1200341425113336\",\"name\":\"Francisco
        Corr\xEAa\",\"resource_type\":\"user\"},\"permalink_url\":\"https://app.asana.com/0/1199978109451180/1199978109451180\",\"public\":true,\"resource_type\":\"project\",\"start_on\":null,\"team\":{\"gid\":\"1199978051314277\",\"name\":\"Customers\",\"resource_type\":\"team\"},\"workspace\":{\"gid\":\"1199978051314275\",\"name\":\"tesselo.com\",\"resource_type\":\"workspace\"}}}"
    headers:
      Asana-Change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      Content-Type:
      - application/json; charset=UTF-8
      Datacenter-Time-End:
      - '1633353283.876'
      X-Asana-Api-Version:
      - '1.1'
      X-LoadBalancer:
      - prod-lb002.ec2
    status:
      code: 200
      message: OK
[...]
