interactions:
- request:
    body: '{"data": {"resource": "1199978051314275", "target": "https://integrations-staging.tesselo.com/asana/projects",
      "filters": [{"resource_type": "project", "action": "added"}]}}'
    headers:
      X-Asana-Client-Lib:
      - language=Python&version=0.10.3&language_version=3.8.11&os=Linux&os_version=5.13.5-zen1-1-zen
      content-type:
      - application/json
    method: POST
    uri: https://app.asana.com/api/1.0/webhooks
  response:
    body:
      string: '{"data":{"gid":"1200890863508545","resource_type":"webhook","resource":{"gid":"1199978051314275","resource_type":"workspace","name":"tesselo.com"},"target":"https://integrations-staging.tesselo.com/asana/projects","active":true,"created_at":"2021-08-31T14:03:07.687Z","last_failure_at":null,"last_failure_content":"","last_success_at":"2021-08-31T14:03:09.022Z","filters":[{"resource_type":"project","resource_subtype":null,"action":"added","fields":null}]}}'
    headers:
      Asana-Change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      Content-Type:
      - application/json; charset=UTF-8
      Datacenter-Time-End:
      - '1630418589.464'
      Location:
      - /api/1.0/webhooks/1200890863508545
      X-Asana-Api-Version:
      - '1.0'
      X-LoadBalancer:
      - prod-lb003.ec2
    status:
      code: 201
      message: Created
version: 1
