asana
alembic-autogenerate-enums
dictalchemy
iso8601
flask-migrate
flask-sqlalchemy
psycopg2-binary
zappa
sentry-sdk[flask]
slack-sdk
structlog
connexion2[swagger-ui]

placebo==0.9.0  # kappa / zappa conflict
openapi-schema-validator<0.2  # connexion restriction
pyyaml<6
