asana
dictalchemy
flask-migrate
flask-sqlalchemy
psycopg2-binary
zappa
sentry-sdk[flask]
slack-sdk
structlog

# All the package restrictions are due to zappa :(
troposphere<3
flask==1.1.4
connexion[swagger-ui]==2.7.0
